
<!--网站变灰切换
<script type="text/javascript">
window.onload=function(){
grayscale(document.body);
}
</script>
<style>
html {overflow-y:scroll;filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);-webkit-filter: grayscale(100%);}
.index-main-indexLogin .ui-logindivbg{opacity:none; filter:none;}
</style>
-->

{{#component "index-Ann"}}
<!--<div class="Annbg" style="display:block;" id="js-anndiv">
	<div class="Annmain">
		<span class="ui-annicon"></span><span><strong>通知:</strong> 由于平台系统停机升级，翼支付网站将于2013年9月13日凌晨0:00-04:30暂停服务，由此带来的不便请您谅解。</span>
	</div>
	<span class="ui-close-ann" id="close-ann"></span>
</div>
-->
{{/component}}
