<div class="edit-bar bar">
  <div class="comp-container">
    <div class="comp-row toolbar-row">
      <span class="comp-name"></span>
      <br>
    </div>
    <div class="setting-row toolbar-row">
      <span class="setting-name">设置</span>
      <br>
    </div>
    <div class="fixed-row toolbar-row">
      <input type="checkbox" id="position">
      <span class="fixed-position">固定定位</span>
      <br>
    </div>
    <div class="page-row toolbar-row">
      <input type="checkbox" id="s_o_a_p">
      <span class="show-on-all-page">所有页面均展示</span>
      <br>
    </div>
    <div class="bar-row">
      <span class="icon-level-up"></span>
      <span class="split-line"></span>
      <span class="icon-level-down"></span>
      <span class="split-line"></span>
      <span class="icon-copy"></span>
      <span class="split-line"></span>
      <span class="icon-delete"></span>
    </div>
  </div>
</div>
