{{#component "announce-detail"}}
          <div class=" articel">
               <span style="font-size:20px">标题:</span> {{_DATA_.title}}<p></br>
<div style="border-bottom: 1px dashed #DCDCDC;">
</div>
                  {{_DATA_.context}}
           </div>


           <div class="cl"></div>
                <!--list ct-->
           <div class="cl"></div>
                <!--list ct end-->
          <div class="fr">
	          <div class="page fl">
			       <ul>
			       	<li class="first"><a href="/news/announce/announce">返回</a></li>
			       </ul>
	          </div>
	         
          </div>
{{/component}} 