<div class="text-toolbar btn-toolbar" id="js-text-toolbar">
  <div class="btn-group js-toggle-group">
    <button class="btn btn-mini" name="bold"><b style="line-height:12px">B</b></button>
    <button class="btn btn-mini" name="italic"><i style="line-height:12px">I</i></button>
    <button class="btn btn-mini" name="strike"><del>D</del></button>
    <button class="btn btn-mini" name="underline"><u>U</u></button>
    <button class="btn btn-mini" name="sub">A<sub>b</sub></button>
    <button class="btn btn-mini" name="sup">A<sup>p</sup></button>
    <button class="btn btn-mini" name="justifyfull"><i class="icon-align-justify"></i></button>
    <button class="btn btn-mini" name="justifycenter"><i class="icon-align-center"></i></button>
    <button class="btn btn-mini" name="justifyleft"><i class="icon-align-left"></i></button>
    <button class="btn btn-mini" name="justifyright"><i class="icon-align-right"></i></button>
  </div>
  <div class="btn-group js-normal-group">
    <button class="btn btn-mini" name="link">link</button>
    <button class="btn btn-mini" name="unlink"><del>link</del></button>
  </div>
  <br />
  <div class="btn-group js-dropdown-group">
    <button class="btn btn-mini" name="font">
      字体&nbsp;<span class="caret"></span>
      <ul class="dropdown-menu">
        <li><a data-value="Arial, Helvetica, sans-serif" href="javascript:void(0)"><font face="Arial, Helvetica, sans-serif">Arial</font></a></li>
        <li><a data-value="Courier New, Courier, mono" href="javascript:void(0)"><font face="Courier New, Courier, mono">Courier New</font></a></li>
        <li><a data-value="Times New Roman, Times, serif" href="javascript:void(0)"><font face="Times New Roman, Times, serif">Times New Roman</font></a></li>
        <li><a data-value="Verdana, Arial, Helvetica, sans-serif" href="javascript:void(0)"><font face="Verdana, Arial, Helvetica, sans-serif">Verdana</font></a></li>
      </ul>
    </button>
    <button class="btn btn-mini" name="size">
      大小&nbsp;<span class="caret"></span>
      <ul class="dropdown-menu">
        <li><a data-value="输入像素大小，例如12px" href="javascript:void(0)" class="js-custom">自定义</a></li>
        <li class="divider"></li>
        <li><a data-value="2" href="javascript:void(0)">1</a></li>
        <li><a data-value="3" href="javascript:void(0)">2</a></li>
        <li><a data-value="4" href="javascript:void(0)">3</a></li>
        <li><a data-value="5" href="javascript:void(0)">4</a></li>
        <li><a data-value="6" href="javascript:void(0)">5</a></li>
        <li><a data-value="7" href="javascript:void(0)">6</a></li>
      </ul>
    </button>
    <button class="btn btn-mini" name="color">
      颜色&nbsp;<span class="caret"></span>
      <ul class="dropdown-menu color">
        <li><a data-value="输入RGB字串，例如#334554" href="javascript:void(0)" class="js-custom">自定义</a></li>
        <li class="divider"></li>
        <li><a data-value="black" href="javascript:void(0)"><span style="background-color:black">&nbsp;</span></a></li>
        <li><a data-value="silver" href="javascript:void(0)"><span style="background-color:silver">&nbsp;</span></a></li>
        <li><a data-value="gray" href="javascript:void(0)"><span style="background-color:gray">&nbsp;</span></a></li>
        <li><a data-value="white" href="javascript:void(0)"><span style="background-color:white">&nbsp;</span></a></li>
        <li><a data-value="maroon" href="javascript:void(0)"><span style="background-color:maroon">&nbsp;</span></a></li>
        <li><a data-value="red" href="javascript:void(0)"><span style="background-color:red">&nbsp;</span></a></li>
        <li><a data-value="purple" href="javascript:void(0)"><span style="background-color:purple">&nbsp;</span></a></li>
        <li><a data-value="fuchsia" href="javascript:void(0)"><span style="background-color:fuchsia">&nbsp;</span></a></li>
        <li><a data-value="green" href="javascript:void(0)"><span style="background-color:green">&nbsp;</span></a></li>
        <li><a data-value="lime" href="javascript:void(0)"><span style="background-color:lime">&nbsp;</span></a></li>
        <li><a data-value="olive" href="javascript:void(0)"><span style="background-color:olive">&nbsp;</span></a></li>
        <li><a data-value="yellow" href="javascript:void(0)"><span style="background-color:yellow">&nbsp;</span></a></li>
        <li><a data-value="navy" href="javascript:void(0)"><span style="background-color:navy">&nbsp;</span></a></li>
        <li><a data-value="blue" href="javascript:void(0)"><span style="background-color:blue">&nbsp;</span></a></li>
        <li><a data-value="teal" href="javascript:void(0)"><span style="background-color:teal">&nbsp;</span></a></li>
        <li><a data-value="aqua" href="javascript:void(0)"><span style="background-color:aqua">&nbsp;</span></a></li>
      </ul>
    </button>
  </div>
  <div class="btn-group js-control-group">
    <button class="btn btn-mini btn-danger" name="unformat">&times;</button>
    <button class="btn btn-mini btn-inverse" name="undo">撤销</button>
    <button class="btn btn-mini btn-inverse" name="redo">重做</button>
    <button class="btn btn-mini btn-warning" name="html">html</button>
    <button class="btn btn-mini btn-primary" name="ok">✓</button>
  </div>
</div>
