<div id="js-publish-site" class="publish-site w600 dh-modal-next js-comp" data-comp-id="{{_COMP_ID_}}" style="height:242px;" data-comp-path="{{_COMP_PATH_}}">
  <div class="modal-header">
    <button type="button" id="js-close-dh-modal" class="close">&times;</button>
    <h4>发布站点</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="publish-site-form">
      <div class="confirm-box">
        <div class="confirm-img">
          <img style="width:48px;" src="/assets/bg.gif">
        </div>
        <div class="confirm-info">
          <h4>是否准备发布到互联网上?</h4>
          <p>发布后外界可以访问.</p>
        </div>
        <div class="confirm-button">
          <a class="btn btn-success" id="publish-site-submit">发布</a>
          <a id="publish-site-cancel">取消, 稍后再发布</a>
        </div>
      </div>
    </form>
  </div>
</div>
