html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, span,
b, i, a, img, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: "Microsoft YaHei", 微软雅黑, "宋体", Arial;
  font-size: 12px;
  color: #666;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, i {
  display: block;
}

a {
  text-decoration: none;
  color: #10aaeb;
}

h3 {
  color: #444;
  font-size: 16px;
}

input {
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  height: 26px;
  padding: 0 6px;
  margin-bottom: 9px;
  line-height: 26px;
  border: 1px solid #afafaf;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  border-radius: 3px;
}
input:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
  width: auto;
}


input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.hide {
  display: none;
}

.clear {
  clear: both;
}
