<div class="confirm-box">
  <div class="confirm-img">
    <span class="icon-success"></span>
  </div>
  <div class="confirm-info">
    <h4>恭喜, 你的模板已经发布在模板市场上.</h4>
    <p>发布后外界可以访问.</p>
  </div>
  <div class="confirm-button">
    <a class="btn btn-success" id="publish-site-cancel">确定</a>
  </div>
</div>
