<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content='翼支付'>
    <title>
        翼支付-翼支付
    </title>
    <link rel="stylesheet" href="/assets/common.css">
    <link rel="stylesheet" href="/assets/app.css">
</head>

<body id="divBody">
<div class="inside-header">
    <span class="ui-headerlogo"></span>

    <div class="ui-nav">
        <a class="nav-sel">我的翼支付</a>
        <a>交易管理</a>
        <a>应用中心</a>
        <a>账单支付</a>
        <a>翼充卡</a>
        <a>手机客户端</a>
    </div>
</div>
<div class="inside-main">

ORDERSEQ:{{ORDERSEQ}}<br/>
RETNCODE:{{RETNCODE}}<br/>
RETNINFO:{{RETNINFO}}<br/>
ORDERAMOUNT:{{ORDERAMOUNT}}<br/>


</div>
<div id="footer">
    <div class="footerbg">
        <div class="footer-main">
            <div class="footer-link">
                <div class="elselink">
                    <div class="elsetitlink"><a style="cursor:default"><img src="/assets/bestpay/footer/dx.png"></a> <a
                            style="cursor:default"><img src="/assets/bestpay/footer/phone1.jpg"></a> <a
                            style="cursor:default"><img src="/assets/bestpay/footer/phone.png"></a> <a href=""
                                                                                                       target="_blank"><img
                            src="/assets/bestpay/footer/youjian.png"> <span class="t01">kefu@bestpay.com.cn</span></a>
                    </div>
                    <div class="elsebotlink">
                        <div class="txt01">版权所有(C)中国电信集团公司&nbsp;&nbsp;沪ICP备08103358号</div>
                        <a href="" class="img01" target="_blank"><img src="/assets/bestpay/footer/zhengshu1.jpg"></a>
                        <a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1569452589" class="img01" target="_blank">
                            <img src="/assets/bestpay/footer/zhengshu2.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/common.js"></script>
<script>require("common/init")</script>
</body>
</html>