<div id='menu'>
  <ul class="nav">
    <li>
      <a href='#body'>
        <span>首页</span>
      </a>
    </li>
    <li class='active'>
      <a href='#body'>
        <span>建站</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>商品</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>交易</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>营销</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>设置</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>应用</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>消息</span>
      </a>
    </li>
    <li>
      <a href='#body'>
        <span>Admin</span>
      </a>
    </li>
  </ul>
  <p class="clear"></p>
    <div style="display: none;"></div>
  <div class="content hide">
    <div style="display: block; ">
      <ul>
        <li>
          <a href='#body'>
            <span>建站系统</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>商品分类</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>图片空间</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>域名</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>备案</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none; ">
      <ul>
        <li>
          <a href='#body'>
            <span>发布商品</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>出售中的商品</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>仓库中的商品</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none">
      <ul>
        <li>
          <a href='#body'>
            <span>已出售</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>发货</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>退款</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>评价</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none">
      <ul>
        <li>
          <a href='#body'>
            <span>会员管理</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>数据分析</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none">
      <ul>
        <li>
          <a href='#body'>
            <span>账号管理</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>支付宝账户</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none"></div>
    <div style="display: none">
      <ul>
        <li>
          <a href='#body'>
            <span>系统消息</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>站内消息</span>
          </a>
        </li>
      </ul>
    </div>
    <div style="display: none">
      <ul>
        <li>
          <a href='#body'>
            <span>后台类目属性</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>SPU</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>前台类目</span>
          </a>
        </li>
        <li>
          <a href='#body'>
            <span>数据分析</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>