{{#each entries}}
<div class="attr-item">
    <label class="attr-label" for="input-item" style="font-size:12px;">{{attributeKey}}：</label>
    <input id="input-item" type="text" class="attr-input" value="{{attributeValue}}" style="font-size:12px;" disabled/>
</div>
{{/each}}
