<div id="edit-handler">
    <div class="left">
        <p class="knob ">
        </p>
    </div>
    <div class="bottom">
        <p class="knob ">
        </p>
    </div>
    <div class="right">
        <p class="knob ">
        </p>
    </div>
    <div class="top">
        <p class="knob ">
        </p>

        <div class="info"></div>

    </div>
    <div class="topleft">
        <p class="knob">
        </p>
    </div>
    <div class="bottomleft">
        <p class="knob">
        </p>
    </div>
    <div class="bottomright">
        <p class="knob">
        </p>
    </div>
    <div class="topright">
        <p class="knob">
        </p>
    </div>
</div>
