<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TInfoMobileH">
      
	<select id="getMobileAreaCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		select w.PARENET_CODE from (select c.PARENET_CODE,row_number() over() as rn from COMMON.t_info_mobile_h
		h left join
		COMMON.T_DICT_AREA_CITY c
		on
		h.tele_code=c.TELE_CODE
		where
		h.mobile_h_code=#{unifyId,jdbcType=VARCHAR} order by c.PARENET_CODE)w where w.rn=1
	
	</select>
	
	<select id="getMobileApanage" parameterType="java.lang.String"
		resultType="java.lang.String">
		select org_code from COMMON.t_info_org_area
		where arae_code=#{areaCode,jdbcType=VARCHAR} 
	</select>
	
	<select id="getMobileCityCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		select w.current_code from (select c.current_code,row_number() over() as rn from COMMON.t_info_mobile_h
        h left join
        COMMON.T_DICT_AREA_CITY c
        on
        h.tele_code=c.TELE_CODE
        where
        h.mobile_h_code=#{unifyId,jdbcType=VARCHAR} order by c.PARENET_CODE)w where w.rn=1
	</select>

</mapper>