{{#component "payment-left"}}
<div class="left">
               <ul class="left_nav">
                  <h2>
                     <em>商品列表<span class="font-grey16">(1)</span></em>
                     <i></i>
                  </h2>
                  <li class="l1 {{#match "reChargeCard" _PAGE_.path}}current{{/match}}">
                     <a href="/payment/reChargeCard"><i></i>充值卡</a>
                  </li>
               </ul>
</div><!--left结束 -->
{{/component}}