.news-left .menu i{background-image: url(/assets/sutongpay/pressicon.png); float:left; display:block; width:25px; height:25px; margin:6px 12px 0 35px!important;margin:6px 12px 0 15px}
.news-left .menu p{float:left; display:block; width:25px; height:25px; margin:6px 12px 0 35px!important;margin:6px 12px 0 15px}
