{{#partial "title"}}发布商品{{/partial}}
{{#partial "body"}}
  <div style="text-align: left; font-size: 16px; margin: 10px 0;">发布商品 - 第二步：填写商品信息</div>
  {{inject "official/sutongpay/merchant/product/publish" true}}
{{/partial}}
{{> layout/sutongpay/layout }}
