{{#component "myinfo-security-resetpaypwd"}}
  <div class="ui-ModifySelection">
    <span class="ui-modselimg"><img src="/assets/sutongpay/mycenter/zhifumima.png"  /></span>
    <table border="0" cellspacing="0" cellpadding="0" class="ui-modseltab01">
      <tr>
        <td><span>通过密保问题重置</span></td>
      </tr>
    </table>
		<span class="ui-modsel-a">
      <a class="ui-button ui-button-mwhite" title="立即重置" id="questionCon">立即重置</a>
    </span>
  </div>
  <div class="ui-ModifySelection">
    <span class="ui-modselimg">
      <img src="/assets/sutongpay/mycenter/shoujibangding.png"  />
    </span>
    <table border="0" cellspacing="0" cellpadding="0" class="ui-modseltab01">
      <tr>
        <td><span>账户余额低于20元，可通过短信验证码重置<br /></span></td>
      </tr>
    </table>
		<span class="ui-modsel-a">
      <a class="ui-button ui-button-mwhite" title="立即重置" id="smsCon">立即重置</a>
    </span>
  </div> 
{{/component}}