
.settit{
	background:#f8f8f8 url(/assets/sutongpay/setsc.jpg) no-repeat left top;
	text-indent:42px;
	font-size:14px;
	font-weight:bold;
	border-bottom:3px #e4e4e4 solid;
	line-height:40PX;
	}
.setlist{
	line-height:61px;
	height:61px;
	border-bottom:1px #d1d1d1 dashed;
}
.setlist .tp{
	width:10%;
	text-align:center;
}
.setlist .cp{
	width:90%;
	text-align:center;
	background:url(/assets/sutongpay/setscico.jpg) no-repeat top left;
	text-indent:25px;
}
.setlist .ctrl li{
	list-style:none;
	float:left;
}
.setlist .ctrl li a{
	color:#0069ba;
}
.setlist .ctrl li a:hover{
	color:#fb6100;
}