{{#component "login-main"}}
         <div class="banner">
            <img src="/assets/sutongpay/banner.jpg" width="708" height="295"> 
         </div>
         {{#if _USER_}}
         <div class="login">
              <h5>用户登录</h5>
              <div class="user">
                <span class="icon-p">您好，{{_USER_.principal}}<a href="/api/user/logout">[退出]</a></span>
              </div>
              <div class="user-info">
                 <h4>我的帐户</h4>
                 <p class="sp-tb">余额：<span class="org24" id="balance"></span> 元</p>
                 <p>
                    <span class="blue12">
                        <a href="/order/orderList">交易查询</a>|
                        <a href="/payment/recharge/firstStep">账户充值</a>|
                        /*<a href="#">个人设置</a>*/
                    </span>
                 <p>
              </div>
              <div class="cl"></div>
              <a href="/account"><input  type="button" class="org-btn" value="进入我的账户"></a>
         </div>
        {{else}}
                <form id="loginForm" method="POST" action="/api/user/login">
         <div class="login">
             <h5>用户登录</h5>
             <em class="sp-mtop10">用户名</em>
             <input type="hidden" name="target" value="{{target}}"/>
             <input name="userName" id="userName" type="text" 
             class="input-w1 sp-mtop20 fl" maxlength=30>
             <div class="cl"></div>
             <em>密 码</em>
             <input name="passwd" id="passwd" type="password" 
             class="input-w1 sp-mtop14 fl">
             <div class="cl"></div>
             <em>验证码</em>
             <input name="vcode" id="vcode" type="text" maxlength=4 class="yzm-w2 sp-mtop14 fl">
                <span name="codeflagSpan" id="codeFlagSpan" 
                      class="ui-Securityimage" style="display:none">
                    <img id="codeFlag" src="/assets/sutongpay/er.png">
                    <input id="codeCheckFlag" type="hidden" value="false">
                </span>
             <span class="yzm fl sp-mtop14">
                <img id="codeImg" style="display:none" width="54" height="30">
                <a name="flushCode">换一张</a></span>
             <div class="cl"></div>
                     <input name="loginButtn" id="loginButtn" type="button" class="org-btn" value="登录">
             <h6><a href="/forget/forpwd">忘记密码</a>&nbsp|&nbsp<a href="/registe">注册</a> </h6>  
         </div>
        </form>
        {{/if}}
{{/component}} 