{{#component "safeCenter-security-paypwd-modify"}}

<div class="sub-l fl sp-mtop30">
  <form id="payPwdModify" name="payPwdModify">
    <input id="unifyId" type="hidden" value="{{_USER_.unifyId}}">
    <span class="col-wa cola fl sp-mtop12">原密码:</span>
    <div class="fl sp-mtop12">
      <input type="password" onkeyup="$(this).value=this.value.replace(/\D/g,'');" 
      onafterpaste="$(this).value=this.value.replace(/\D/g,'')"
      name="oldPasswd" maxlength="6" id="oldPasswd" class="input-w3" readonly="readonly">
     <br>
     <div id="oldPwdMsg" name="oldPwdMsg" class="ui-txtred"></div>
   </div>
   
   <div class="cl"></div>
   <span class="col-wa cola fl sp-mtop12">新密码:</span>
   <div class="fl sp-mtop12" style='position:relative;'>

     <input type="password" onkeyup="$(this).value=this.value.replace(/\D/g,'');" 
      onafterpaste="$(this).value=this.value.replace(/\D/g,'')"
      name="newPasswd" maxlength="6" id="newPasswd" class="input-w3" readonly="readonly">

      
     <span class="ui-Gray-notes03" style="color:red;" >密码为6位数字</span>
     <br>
     <div id="newPwdMsg" name="newPwdMsg" class="ui-txtred"></div>
   </div>

   <div class="cl"></div>
   <span class="col-wa cola fl sp-mtop12">确认密码:</span>
   <div class="fl sp-mtop12">
     <input type="password" onkeyup="$(this).value=this.value.replace(/\D/g,'');" 
      onafterpaste="$(this).value=this.value.replace(/\D/g,'')"
      name="confirmPasswd" maxlength="6" id="confirmPasswd" class="input-w3" readonly="readonly">
     <br>
     <div id="comPwdMsg" name="comPwdMsg" class="ui-txtred"></div>
   </div>  
   <div class="cl"></div>
   <span class="col-wa cola fl sp-mtop12">验证码:</span>
   <div class="fl sp-mtop12">
     <div style="float:left;">
       <input type="text" name="vcode" id="vcode" class="yzm-w2 input-w4" maxlength=4>

       <span name="codeflagSpan" id="codeFlagSpan" 
       style="display:none;margin-left:-17px;">
       <img id="codeFlag" src="/assets/sutongpay/er.png">
        <input type="hidden" id="imgCodeFlag" value="false"/>
     </span>
     <br>
     <div id="checkCodMsg" name="checkCodMsg" class="ui-txtred"></div>

   </div>
   <div style="float:left;">

     <span class="yzm fl sp-mtop14">
      <img id="codeImg" style="display:none" width="54" height="30">
      <a name="flushCode">换一张</a></span>
     
    </div>
  </div>
  <span>




  </span>



  <div class="cl"></div>
  <span class="col-wa cola fl sp-mtop12">短信验证码:</span>
  <div class="fl sp-mtop12">
   <input type="text" name="verifyCode" id="verifyCode" class="input-w4" maxlength=6>
   <a id="sendCode" class="ui-button ui-button-sermwhite" title="发送验证码">发送验证码</a>
 </br>
 <div id="verifyCodeMsg" name="verifyCodeMsg" class="ui-txtred"></div>
 <div class="ui-Downnote" style="width:290px;display:none;" name="shortMsg" id="shortMsg"> <span class="ui-aggimg01"></span> <span class="ui-noteimg01"></span> <span class="ui-txtnote" name="uitext" id="uitext">短信已发送到您的手机，请注意查收。</span> </div>
</div>           
<div class="cl"></div>
</form>

<span class="colz">
  <div class="ui-form">
      <div class="ui-form-txt01"></div>
      <div class="ui-form-item">
        <a id="modifyBtn" name="modifyBtn" class="ui-button ui-button-morange" title="确定">确定</a> 
        <a id="rn" name="rn" class="ui-button ui-button-mwhite" title="取消">取消</a>
      </div>
    </div>
</span>
</div><!--sub-l fl结束 --> 

<div id="dfbKey" style="position:absolute;visibility:hidden;">
      <img src="/api/softKeyBoard/pwGeneration" border="0" usemap="#Map2"/>
      <map name="Map2">
          <area shape="rect" coords="15,26,42,54" href="javascript:clickKeyboard('0')">
          <area shape="rect" coords="44,26,73,54" href="javascript:clickKeyboard('1')">
          <area shape="rect" coords="77,26,104,54" href="javascript:clickKeyboard('2')">
          <area shape="rect" coords="107,26,135,54" href="javascript:clickKeyboard('3')">
          <area shape="rect" coords="15,58,42,85" href="javascript:clickKeyboard('4')">
          <area shape="rect" coords="44,58,73,85" href="javascript:clickKeyboard('5')">
          <area shape="rect" coords="77,58,104,85" href="javascript:clickKeyboard('6')">
          <area shape="rect" coords="107,58,135,85" href="javascript:clickKeyboard('7')">
          <area shape="rect" coords="15,89,42,116" href="javascript:clickKeyboard('8')">
          <area shape="rect" coords="44,89,73,116" href="javascript:clickKeyboard('9')">
        <area shape="rect" coords="77,89,135,116" href="javascript:clickKeyboard('bak')">
          <area shape="rect" coords="130,5,142,19" href="javascript:closeKeyboard()">
          <area shape="rect" coords="15,120,135,147" href="javascript:closeKeyboard()">
      </map>
</div>





{{/component}}