{{#component "footer"}}
<div id="footer">
  <div class="footerbg">
    <div class="footer-main">
      <div class="footer-link">
        <div class="elselink">
          <a href="">京ICP备:08105306号-2 | 京公网安备:11010602004748号 </a>
          <br>
          版权所有 北京速通科技有限公司
        </div>
      </div>
    </div>
  </div>
</div>
{{/component}}