<div class="app-modal design-panel" id="js-bg-panel">
    <div class="menu-icon"></div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="go-back" id="js-design-go-back">返回样式设计</h4>
    </div>
    <div class="modal-body scrollable none">
        <p class="app-introduction">你可以在此选择背景颜色或图片，如需自定义背景请点击下方的“自定义背景设计”按钮。</p>

        <div class="img-list-middle" style="margin-left: 14px;">
            <img src="/assets/bg/1_001.gif">
            <img src="/assets/bg/1_002.gif">
            <img src="/assets/bg/1_003.gif">
            <img src="/assets/bg/1_004.gif">
            <img src="/assets/bg/1_005.gif">
            <img src="/assets/bg/1_006.gif">
            <img src="/assets/bg/1_007.gif">
            <img src="/assets/bg/1_008.gif">
            <img src="/assets/bg/1_009.gif">
            <img src="/assets/bg/1_010.gif">
            <img src="/assets/bg/1_011.gif">
            <img src="/assets/bg/1_012.gif">
            <img src="/assets/bg/1_013.gif">
            <img src="/assets/bg/1_014.gif">
            <img src="/assets/bg/1_015.gif">
            <img src="/assets/bg/1_016.gif">
            <img src="/assets/bg/1_017.gif">
            <img src="/assets/bg/1_018.gif">
            <img src="/assets/bg/1_019.gif">
            <img src="/assets/bg/1_020.gif">
            <img src="/assets/bg/1_021.gif">
            <img src="/assets/bg/1_022.gif">
            <img src="/assets/bg/1_023.gif">
            <img src="/assets/bg/1_024.gif">
        </div>
    </div>
    <div class="modal-footer none">
        <!-- <a class="btn btn-block btn-primary" id="js-to-bg-self-panel">自定义背景设计</a> -->
    </div>
</div>
