<div class="app-modal design-panel" id="js-font-panel">
    <div class="menu-icon"></div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="go-back" id="js-design-go-back">返回样式设计</h4>
    </div>
    <div class="modal-body scrollable none">
        <p class="app-introduction">你可以在这里设置全局字体</p>
        <ul class="app-list unstyled">
            <li class="wysiwyg-font-size-heading-xl">标题一</li>
            <li class="wysiwyg-font-size-heading-l">标题二</li>
            <li class="wysiwyg-font-size-heading-m">标题三</li>
            <li class="wysiwyg-font-size-heading-s">标题四</li>
            <li class="wysiwyg-font-size-body-l">正文一</li>
            <li class="wysiwyg-font-size-body-m">正文二</li>
            <li class="wysiwyg-font-size-body-s">正文三</li>
            <li class="wysiwyg-font-size-body-xs">正文四</li>
        </ul>
    </div>
</div>