{{#partial "title"}}发布商品{{/partial}}
{{#partial "body"}}
  <div style="text-align: left; font-size: 16px; margin: 10px 0;">发布商品 - 第一步：选择 商品</div>
  {{inject "official/sutongpay/merchant/product/spu_selector"}}
{{/partial}}
{{> layout/sutongpay/layout }}
