<div class="ui-GreenNote"> <span class="ui-GreenNoteimg"></span>
  <div class="ui-Greentxt">
    <ul>
      <li class="ui-title">{{#if title}}{{title}}{{else}}小贴士:{{/if}}</li>
      <li class="ui-main">{{tip}}</li>
    </ul>
  </div>
</div>
