{{#partial "main"}}
<!--
  ~ Copyright (c) 2012 杭州端点网络科技有限公司
  -->
 <h2>New Component</h2>
<form accept-charset="UTF-8" action="/components" class="form-horizontal" id="new_component" method="post">
    <div class="control-group">
        <label class="control-label" for="component_comp_category_id">CategoryId</label>

        <div class="controls">
            <input class="text_field" id="component_comp_category_id" name="compCategoryId" size="30" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="component_name">Name</label>

        <div class="controls">
            <input class="text_field" id="component_name" name="name" size="30" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="component_path">Path</label>

        <div class="controls">
            <input class="text_field" id="component_path" name="path" size="30" type="text">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="component_api">API</label>

        <div class="controls">
            <textarea class="input-xlarge" id="component_api" name="api">{{component.api}}</textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="cachedBy">cachedBy</label> (0：不缓存；1：WidgetId，2：ComponentId)

        <div class="controls">
            <input class="text_field" id="cachedBy" name="cachedBy">{{component.cachedBy}}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="cachedTime">cachedTime</label> (以分钟为单位)

        <div class="controls">
            <input class="text_field" id="cachedTime" name="cachedTime">{{component.cachedTime}}
        </div>
    </div>

    <div class="form-actions">
        <input class="btn btn-primary" name="commit" type="submit" value="Add">
        <a href="/components" class="btn"><span>Cancel</span></a>
    </div>
</form>
{{/partial}}
{{> admin/layout}}
