<div class="app-modal design-panel hide" id="js-design-panel">
    <div class="menu-icon"></div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4>样式设计</h4>
    </div>
    <div class="modal-body none">
        <p class="app-introduction">你可以在此编辑系统整体风格、背景、文字等。</p>
        <ul class="app-list unstyled">
            <li id="js-show-bg"><span class="icon-my-template"></span>背景样式</li>
            <li id="js-show-font"><span class="icon-font"></span>文字样式</li>
        </ul>
    </div>
</div>