<div class="modal w300" id="js-item-publish-box-config-panel">
    <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h4>发布商品设置</h4>
    </div>
    <div class="modal-body">
        <p class="bottom-line">设置点击[确认无误，发布]时的跳转地址</p>
        <div class="row-fluid">
            <div class="span12">
                <input type="text" style="width: 90%;" value="{{nextUrl}}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary js-submit">确定</button>
    </div>
</div>
