{{#component "wingcard-password-fail"}}
<div class="ui-Promptdiv ui-Correct"><i></i><span><strong>成功</strong><br />
    修改支付密码成功</a></span> </div>
   <a class="ui-button ui-button-morange" href="/safeCenter/home" style="float:right;right:15px;top:20px;">返回</a> 
{{/component}}